<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구조동물</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">
    <link rel="stylesheet" href="/css/paging.css">
    <link rel="stylesheet" href="/css/animal.css">

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            let userId = '[[${userId}]]'; // 서버에서 전달된 사용자 ID
            let myPage = document.querySelectorAll(".myPage");

            myPage.forEach(function (link) {
                link.href = "/user/myPage/" + userId;
            });
        });

        function removeBrackets(str) {
            return str.replace(/\[.*?\]\s*/, '');
        }

        function getSidoList() {

            $.ajax({
                url: '/api/sido',
                type: 'GET',
                data: $('#searchForm').serialize(),
                success: function (data) {
                    sido = data; // 데이터를 전역 변수에 저장
                    totalEvents = sido.length; // 총 문화행사 수 설정
                    displayPage(1); // 첫 번째 페이지 표시
                    $('#loadingSpinner').hide(); // 로딩 이펙트 숨기기
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }

        function toggleCalendar() {
            const calendar = document.getElementById('calendar');
            if (calendar.classList.contains('hidden')) {
                calendar.classList.remove('hidden');
                setTimeout(() => {
                    calendar.classList.remove('opacity-0');
                    calendar.classList.add('opacity-1');
                    calendar.classList.add('translate-y-0');
                }, 10);
            } else {
                calendar.classList.add('opacity-0');
                calendar.classList.remove('opacity-1');
                calendar.classList.remove('translate-y-0');
                setTimeout(() => {
                    calendar.classList.add('hidden');
                }, 300);
            }
        }

        // 달력 내용을 동적으로 생성하는 함수
        function generateCalendar() {
            const calendar = document.getElementById('calendar');
            const today = new Date();
            const month = today.getMonth();
            const year = today.getFullYear();
            const daysInMonth = new Date(year, month + 1, 0).getDate();
            let calendarHtml = '<div class="flex items-center space-x-1.5 border border-gray-300 dark:border-gray-700 rounded-md px-2 py-1.5">';
            calendarHtml += '<div class="flex flex-1 items-center space-x-1.5"><div class="w-1/2"><button type="button" class="w-full tracking-wide dark:text-white/70 dark:hover:bg-white/10 dark:focus:bg-white/10 transition-all duration-300 px-3 py-[0.55rem] uppercase hover:bg-gray-100 rounded-md focus:ring-1 focus:ring-blue-500/50 focus:bg-blue-100/50">6월</button></div><div class="w-1/2"><button type="button" class="w-full tracking-wide dark:text-white/70 dark:hover:bg-white/10 dark:focus:bg-white/10 transition-all duration-300 px-3 py-[0.55rem] uppercase hover:bg-gray-100 rounded-md focus:ring-1 focus:ring-blue-500/50 focus:bg-blue-100/50">2024</button></div></div></div>';
            calendarHtml += '<div class="px-0.5 sm:px-2 mt-0.5 min-h-[285px]"><div class="grid grid-cols-7 border-b border-gray-300 dark:border-gray-700 py-2"><div class="tracking-wide text-gray-500 text-center">일</div><div class="tracking-wide text-gray-500 text-center">월</div><div class="tracking-wide text-gray-500 text-center">화</div><div class="tracking-wide text-gray-500 text-center">수</div><div class="tracking-wide text-gray-500 text-center">목</div><div class="tracking-wide text-gray-500 text-center">금</div><div class="tracking-wide text-gray-500 text-center">토</div></div>';
            calendarHtml += '<div class="grid grid-cols-7 gap-y-0.5 my-1">';
            for (let i = 1; i <= daysInMonth; i++) {
                calendarHtml += `<button type="button" class="flex items-center justify-center w-12 h-12 lg:w-10 lg:h-10">${i}</button>`;
            }
            calendarHtml += '</div></div>';
            calendar.innerHTML = calendarHtml;
        }

        document.addEventListener('DOMContentLoaded', generateCalendar);

    </script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <!-- 내비게이션 바 -->
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main">펫밀리</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">
                    <li>
                        <a href="/animal/protectAnimal"><span>구조동물</span></a>
                        <ul>
                            <li><a href="/animal/protectAnimal">입양대기 동물</a></li>
                            <li><a href="/animal/noticeAnimal">반환대기 동물</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/shelter/shelterList"><span>동물보호센터</span></a>
                        <ul>
                            <li><a href="/shelter/shelterList">동물보호센터</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/board/boardList"><span>게시판</span></a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/chat/intro"><span>고객센터</span></a>
                        <ul>
                            <li><a href="/chat/intro">문의하기</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_ID == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_ID != null}">
                <p th:text="'안녕하세요, ' + ${session.SS_USER_ID} + '님!'"></p>
                <a href="#" class="myPage">마이페이지</a>
                &nbsp;&nbsp;
                <a href="/user/logout">로그아웃</a>
            </div>
            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop" th:if="${session.SS_USER_ID == null}">
                    <div class="mlogo"><a href="/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <div class="mbTop" th:if="${session.SS_USER_ID != null}">
                    <div class="mlogo"><a href="/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="#" class="myPage">마이 페이지</a></li>
                        <li><a href="/user/logout">로그아웃</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="has-sub">
                        <a href="/animal/protectAnimal">구조동물</a>
                        <ul>
                            <li><a href="/animal/protectAnimal">입양대기 동물</a></li>
                            <li><a href="/animal/noticeAnimal">반환대기 동물</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/board/boardList">게시판</a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/chat/intro">고객센터</a>
                        <ul>
                            <li><a href="/chat/intro">문의하기</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- // 내비게이션 바 -->

    <div id="subContainer" style="margin-left: 17%; margin-right: 17%;">
        <div class="subSkin bg"></div>
        <nav id="lnb">
            <div class="area_subVisual">
                <div class="inner">
                    <div class="lnb pc">
                        <div class="home">
                            <a href="/main"></a>
                        </div>
                        <ul>
                            <li><a href="/animal/animalList" title="구조동물">구조동물</a></li>
                        </ul>
                    </div>
                    <div class="lnb mobile">
                        <div class="home">
                            <a href="/main"></a>
                        </div>
                        <div class="large">구조동물</div>

                        <div class="small">
                            <span data-mobile-tit="">구조동물</span>
                            <ul>
                                <li><a href="/animal/animalList" title="구조동물">구조동물</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="flex justify-between items-center text-stone-900 dark:text-white font-semibold text-xl undefined">
            <div class="inline-flex items-center gap-1">
                <svg class="mt-[3px] h-6 w-6 border border-gray-900 dark:border-stone-100 rounded p-1 flex-shrink-0 fill-gray-900 dark:fill-stone-100"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 512 512" stroke-width="1.5"
                     stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M256 224c-79.41 0-192 122.76-192 200.25 0 34.9 26.81 55.75 71.74 55.75 48.84 0 81.09-25.08 120.26-25.08 39.51 0 71.85 25.08 120.26 25.08 44.93 0 71.74-20.85 71.74-55.75C448 346.76 335.41 224 256 224zm-147.28-12.61c-10.4-34.65-42.44-57.09-71.56-50.13-29.12 6.96-44.29 40.69-33.89 75.34 10.4 34.65 42.44 57.09 71.56 50.13 29.12-6.96 44.29-40.69 33.89-75.34zm84.72-20.78c30.94-8.14 46.42-49.94 34.58-93.36s-46.52-72.01-77.46-63.87-46.42 49.94-34.58 93.36c11.84 43.42 46.53 72.02 77.46 63.87zm281.39-29.34c-29.12-6.96-61.15 15.48-71.56 50.13-10.4 34.65 4.77 68.38 33.89 75.34 29.12 6.96 61.15-15.48 71.56-50.13 10.4-34.65-4.77-68.38-33.89-75.34zm-156.27 29.34c30.94 8.14 65.62-20.45 77.46-63.87 11.84-43.42-3.64-85.21-34.58-93.36s-65.62 20.45-77.46 63.87c-11.84 43.42 3.64 85.22 34.58 93.36z"></path>
                </svg>
                공고 중인 동물을 잃어버린 소유자는 해당 동물보호센터에 연락하시어 찾아가시기 바랍니다.
            </div>
            <div class="flex justify-end">
                <button type="button" class="rounded-r px-4 py-2 cursor-pointer collapsed" aria-expanded="false"
                        data-bs-toggle="collapse" data-bs-target="#collapseFilter">
                    <svg class="h-4 w-4 fill-gray-600 dark:fill-stone-400" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512">
                        <path d="M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z"></path>
                    </svg>
                </button>
            </div>
        </div>
        <br>
        <div id="collapseFilter"
             class="inset-x-0 top-0 origin-top-right transform transition-all z-10 border rounded-lg p-6 mb-2 dark:bg-gray-900 dark:border-stone-400 collapse false"
             style="">
            <form id="searchForm">
                <div class="grid grid-cols-1 md:grid-cols-1 gap-2 dark:text-stone-100">
                    <!-- 기간 필터 -->
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold text-lg">기간</div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            <div class="relative w-full text-gray-700 border-2 border-blue-600 rounded-lg">
                                <input type="text" id="date-range"
                                       class="relative transition-all duration-300 py-2.5 pl-4 pr-14 w-full border-gray-300 dark:bg-slate-800 dark:text-white/80 dark:border-slate-600 rounded-lg tracking-wide font-light text-sm placeholder-gray-400 bg-white focus:ring disabled:opacity-40 disabled:cursor-not-allowed focus:border-blue-500 focus:ring-blue-500/20 text-blue-600 dark:text-stone-100 font-semibold dark:bg-gray-900"
                                       readonly placeholder="YYYY-MM-DD ~ YYYY-MM-DD" autocomplete="off"
                                       role="presentation"
                                       value="">
                                <button type="button"
                                        class="absolute right-0 h-full px-3 text-gray-400 focus:outline-none"
                                        onclick="toggleCalendar()">
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"></path>
                                    </svg>
                                </button>
                                <div id="calendar"
                                     class="transition-all ease-out duration-300 absolute z-10 mt-1 text-sm translate-y-4 opacity-0 hidden bg-white dark:bg-slate-800 dark:text-white dark:border-slate-600 rounded-lg shadow-md">
                                    <!-- 달력 내용은 여기에서 JavaScript로 동적으로 생성됩니다 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 시도, 시군, 보호소 필터 -->
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold text-lg">시도, 시군, 보호소</div>
                        <div class="flex items-center justify-start">
                            <div class="inline-flex border-solid border-2 rounded overflow-hidden border-blue-600 hover:shadow-lg focus:shadow-lg"
                                 role="group">
                                <button type="button"
                                        class="text-blue-600 inline-block text-stone-100 bg-blue-600 px-6 py-2.5 font-semibold text-xs leading-tight uppercase hover:text-stone-50 focus:text-stone-50 active:text-stone-50 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                                    전체
                                </button>
                            </div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <!-- 축종코드, 품종코드 필터 -->
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold text-lg">축종코드, 품종코드</div>
                        <div class="flex items-center justify-start">
                            <div class="inline-flex border-solid border-2 rounded overflow-hidden border-blue-600 hover:shadow-lg focus:shadow-lg" role="group">
                                <button id="allBtn" type="button" class="text-blue-600 inline-block text-gray-600 dark:text-stone-100 px-6 py-2.5 font-semibold text-xs leading-tight uppercase hover:text-stone-50 focus:text-stone-50 active:text-stone-50 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">전체</button>
                                <div class="border-solid border-l border-gray-300 dark:border-blue-600"></div>
                                <button id="dogBtn" type="button" class="text-blue-600 inline-block px-6 py-2.5 text-stone-100 bg-blue-600 font-semibold text-xs leading-tight uppercase hover:text-stone-50 focus:text-stone-50 active:text-stone-50 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">개</button>
                                <button id="catBtn" type="button" class="text-blue-600 inline-block px-6 py-2.5 text-stone-100 bg-blue-600 font-semibold text-xs leading-tight uppercase hover:text-stone-50 focus:text-stone-50 active:text-stone-50 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">고양이</button>
                                <button id="otherBtn" type="button" class="text-blue-600 inline-block px-6 py-2.5 text-stone-100 bg-blue-600 font-semibold text-xs leading-tight uppercase hover:text-stone-50 focus:text-stone-50 active:text-stone-50 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">기타</button>
                            </div>
                        </div>
                        <div id="categoryButtons" class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 gap-1 overflow-y-auto max-h-96">
                            <button type="button" class="inline-block h-12 px-6 py-2 border-2 border-blue-600 dark:border-stone-400 text-blue-600 dark:text-stone-100 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-100 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">전체</button>
                            <button type="button" class="inline-block h-12 px-6 py-2 border-2 border-blue-600 dark:border-stone-400 text-blue-600 dark:text-stone-100 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-100 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">골든 리트리버</button>
                            <button type="button" class="inline-block h-12 px-6 py-2 border-2 border-blue-600 dark:border-stone-400 text-blue-600 dark:text-stone-100 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-100 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">그레이 하운드</button>
                            <!-- 더 많은 버튼들 -->
                            <button type="button" class="inline-block h-12 px-6 py-2 border-2 border-blue-600 dark:border-stone-400 text-blue-600 dark:text-stone-100 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-100 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">기타</button>
                        </div>
                    </div>
                    <!-- 중성화 필터 -->
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold text-lg">중성화</div>
                        <div class="flex items-center justify-center sm:justify-start">
                            <div class="inline-flex flex-1 sm:flex-none border-solid border-2 rounded overflow-hidden border-blue-600 hover:shadow-lg focus:shadow-lg"
                                 role="group">
                                <button type="button"
                                        class="text-stone-100 bg-blue-600 flex-1 sm:min-w-[100px] inline-block px-6 py-2.5 font-semibold text-xs leading-tight uppercase hover:text-stone-50 focus:text-stone-50 active:text-stone-50 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                                    전체
                                </button>
                                <div class="border-solid border-l border-blue-600"></div>
                                <button type="button"
                                        class="text-gray-600 dark:text-stone-100 flex-1 sm:min-w-[100px] inline-block px-6 py-2.5 font-semibold text-xs leading-tight uppercase hover:text-gray-700 focus:text-gray-700 active:text-gray-700 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                                    예
                                </button>
                                <div class="border-solid border-l border-blue-600"></div>
                                <button type="button"
                                        class="text-gray-600 dark:text-stone-100 flex-1 sm:min-w-[100px] inline-block px-6 py-2.5 font-semibold text-xs leading-tight uppercase hover:text-gray-700 focus:text-gray-700 active:text-gray-700 focus:ring-0 transition duration-150 ease-in-out">
                                    아니오
                                </button>
                                <div class="border-solid border-l border-gray-300 dark:border-blue-600"></div>
                                <button type="button"
                                        class="text-gray-600 dark:text-stone-100 flex-1 sm:min-w-[100px] inline-block px-6 py-2.5 font-semibold text-xs leading-tight uppercase hover:text-gray-700 focus:text-gray-700 active:text-gray-700 focus:outline-none focus:ring-0  transition duration-150 ease-in-out">
                                    미상
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 적용, 초기화 버튼 -->
                <div class="flex gap-2 justify-end mt-2">
                    <button type="button" id="applyButton"
                            class="inline-block px-6 py-2.5 bg-blue-600 text-stone-100 font-semibold text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                        적용
                    </button>
                    <button type="button" id="resetButton"
                            class="inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 dark:border-stone-100 dark:text-stone-100 font-semibold text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                        초기화
                    </button>
                </div>
            </form>
        </div>
        <br>
        <div class="flex flex-1 flex-col gap-2 undefined">
            <div class="openAnimation w-full h-full flex items-center justify-center">
                <div class="w-full grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-3 gap-x-3">
                    <div th:each="animal : ${rList}" class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex">
                        <div class="flex flex-col bg-white dark:bg-stone-900 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                            <a th:href="'/animal/animalInfo/' + ${animal.desertionNo}">
                                <div class="max-h-48 overflow-hidden rounded-t-lg relative sm:h-[192px]">
                                    <div class="h-40 sm:h-48 overflow-hidden relative h-[192px] hover:scale-110 transition-transform">
                                        <img th:src="@{${animal.popfile}}"
                                             class="absolute w-full h-full inset-0 object-cover" alt="Animal Image">
                                    </div>
                                </div>
                            </a>
                            <div class="flex-1 flex flex-col gap-1 p-2">
                                <div>
                                    <div class="flex items-center justify-between">
                                        <div class="flex flex-1 items-center gap-1 sm:gap-2">
                                            <h5 class="text-base sm:text-xl font-bold tracking-tight text-gray-900 dark:text-white"
                                                th:text="${animal.kindCd}">Animal Kind</h5>
                                            <svg class="h-4 sm:h-5 fill-blue-500 items-center" width="16" height="16"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                <path d="M372 64h-79c-10.7 0-16 12.9-8.5 20.5l16.9 16.9-80.7 80.7c-22.2-14-48.5-22.1-76.7-22.1C64.5 160 0 224.5 0 304s64.5 144 144 144 144-64.5 144-144c0-28.2-8.1-54.5-22.1-76.7l80.7-80.7 16.9 16.9c7.6 7.6 20.5 2.2 20.5-8.5V76c0-6.6-5.4-12-12-12zM144 384c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"></path>
                                            </svg>
                                        </div>
                                        <div class="font-normal text-xs text-gray-700 dark:text-gray-400"
                                             th:text="${animal.happenDt}"></div>
                                    </div>
                                    <div class="font-normal text-xs text-gray-700 dark:text-gray-400"
                                         th:text="${animal.noticeNo}"></div>
                                </div>
                                <div class="flex items-center gap-2 font-normal text-sm text-gray-700 dark:text-stone-400">
                                    <svg class="h-4 min-w-[16px] fill-gray-700 dark:fill-stone-400" width="16"
                                         height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"></path>
                                    </svg>
                                    <div class="overflow-hidden text-ellipsis whitespace-nowrap"
                                         th:text="${animal.happenPlace}"></div>
                                </div>
                                <div class="flex items-center gap-2 font-normal text-sm text-gray-700 dark:text-stone-400">
                                    <svg class="h-4 min-w-[16px] fill-gray-700 dark:fill-stone-400" width="16"
                                         height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16z"></path>
                                    </svg>
                                    <div th:text="${animal.noticeSdt}"></div>
                                    ~
                                    <div th:text="${animal.noticeEdt}"></div>
                                </div>
                                <div class="font-normal text-sm text-gray-700 dark:text-stone-400 overflow-hidden"
                                     th:text="${animal.specialMark}"></div>
                                <div class="flex-1 border-solid border-b border-gray-300"></div>
                                <div class="flex flex-wrap gap-1">
                                    <span class="px-2 py-1 rounded text-white bg-emerald-500 font-semibold text-xs flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease"
                                          th:text="${animal.processState}"></span>
                                    <span class="px-2 py-1 rounded text-white bg-sky-500 font-semibold text-xs flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease"
                                          th:text="${animal.age}"></span>
                                    <span class="px-2 py-1 rounded text-white bg-pink-500 font-semibold text-xs flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease"
                                          th:text="${animal.colorCd}"></span>
                                    <span class="px-2 py-1 rounded text-white bg-amber-500 font-semibold text-xs flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease"
                                          th:text="${animal.weight}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 페이징 네비게이션 -->
        <div class="flex justify-center py-10">
            <div class="pagination">
                <ul>
                    <!-- First page link -->
                    <li th:if="${currentPage > 1}">
                        <a th:href="@{/animal/animalList(page=1, size=${size})}">처음</a>
                    </li>

                    <!-- Previous page link -->
                    <li th:if="${currentPage > 1}">
                        <a th:href="@{/animal/animalList(page=${currentPage - 1}, size=${size})}">이전</a>
                    </li>

                    <!-- Page number links -->
                    <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a th:href="@{/animal/animalList(page=${i}, size=${size})}"
                           th:classappend="${i} == ${currentPage} ? 'active' : ''"
                           th:text="${i}"></a>
                    </li>

                    <!-- Next page link -->
                    <li th:if="${currentPage < totalPages}">
                        <a th:href="@{/animal/animalList(page=${currentPage + 1}, size=${size})}">다음</a>
                    </li>

                    <!-- Last page link -->
                    <li th:if="${currentPage < totalPages}">
                        <a th:href="@{/animal/animalList(page=${totalPages}, size=${size})}">마지막</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--페이징 네비게이션 -->
    </div>
</div>
<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="copyright">
                    <p>펫밀리<span><a href="">&#9798;</a></span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="designer">
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
<script>
    // 이벤트 리스너를 추가하는 함수
    function addFilterButtonListeners() {
        const buttons = document.querySelectorAll('.filter-button');
        buttons.forEach(button => {
            button.addEventListener('click', function () {
                const apiEndpoint = this.getAttribute('data-api');
                const requestData = {}; // 필요한 데이터를 여기에 추가
                fetch(apiEndpoint, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        // 데이터 처리
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });
    }

    // 적용 버튼 이벤트 리스너
    document.getElementById('applyButton').addEventListener('click', function () {
        // 여기에 적용 API 호출을 추가
    });

    // 초기화 버튼 이벤트 리스너
    document.getElementById('resetButton').addEventListener('click', function () {
        // 여기에 초기화 API 호출을 추가
    });

    // 필터 버튼 리스너 추가
    addFilterButtonListeners();

    document.addEventListener("DOMContentLoaded", function() {
        const dogBtn = document.getElementById("dogBtn");
        const catBtn = document.getElementById("catBtn");
        const otherBtn = document.getElementById("otherBtn");
        const allBtn = document.getElementById("allBtn");

        dogBtn.addEventListener("click", function() {
            catBtn.classList.add("hidden");
            otherBtn.classList.add("hidden");
        });

        allBtn.addEventListener("click", function() {
            catBtn.classList.remove("hidden");
            otherBtn.classList.remove("hidden");
        });
    });
</script>
</body>
</html>