<!DOCTYPE html>
<html lang="ko">

<head>
    <title>펫 밀리</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">
</head>

<body>
<div id="wrapper" class="main">
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main/main">펫밀리</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">
                    <li>
                        <a href="/center/center"><span>정보센터</span></a>
                        <ul>
                            <li><a href="/center/center">보호소 찾기</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/notice/noticeList"><span>게시판</span></a>
                        <ul>
                            <li><a href="/notice/noticeList">게시판</a></li>

                        </ul>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <a href="#"><span>고객센터</span></a>
                        <ul>

                            <li><a href="">고객센터</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_ID == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_ID}">
                <a href="/user/myPage">마이페이지</a>
                <a href="/user/logout">로그아웃</a>
            </div>

            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop">
                    <div class="mlogo"><a href="/main/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="has-sub">
                        <a href="/center/center">보호소 찾기</a>
                        <ul>
                            <li><a href="/center/center">보호소 찾기</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/notice/noticeList">게시판</a>
                        <ul>
                            <li><a href="/notice/noticeList">게시판</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="#">고객센터</a>
                        <ul>
                            <li><a href="">고객센터</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- //header -->

    <!--Start of slider section-->
    <section id="slider">
        <div id="carousel-example-generic" class="" data-ride="carousel"
             data-interval="3000">
            <!-- Indicators -->
            <ol class="">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <!--                <li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            </ol>
            <!-- Wrapper for slides -->
            <div class="" role="listbox">
                <div class="item active">
                    <div class="">
                        <br><br><br><br><br>
                        <img src="/img/main.jpg" alt="..." class="slider-image">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--Scroll to top-->
<a href="#" id="back-to-top" title="Back to top">&uarr;</a>
</body>
</html>
