<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">
    <link rel="stylesheet" href="/css/paging.css">

    <script type="text/javascript">

        //상세보기 이동
        function doDetail(seq) {
            location.href = "/board/boardInfo?nSeq=" + seq;
        }

    </script>
</head>
<body>
<div id="wrapper">
    <!-- 내비게이션 바 -->
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main/main">펫밀리</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">

                    <li>
                        <a href="/animal/animalList"><span>정보센터</span></a>
                        <ul>
                            <li><a href="/animal/animalList">유기동물 조회</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/board/boardList"><span>게시판</span></a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a></li>

                        </ul>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <a href="#"><span>고객센터</span></a>
                        <ul>

                            <li><a href="">고객센터</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_ID == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_ID != null}">
                <p th:text="'안녕하세요, ' + ${session.SS_USER_ID} + '님!'"></p>
                <a href="/user/logout">로그아웃</a>
            </div>

            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop">
                    <div class="mlogo"><a href="/main/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <ul>

                    <li class="has-sub">
                        <a href="/board/boardList">게시판</a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/animal/animalList">유기동물 조회</a>
                        <ul>
                            <li><a href="/animal/animalList">유기동물 조회</a>
                            </li>

                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">온라인 상담</a>
                        <ul>
                            <li><a href="#">이용방법 </a>
                            </li>
                            <li><a href="/online/calendar">채팅</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                <!--<li>
                    <a href="#"><span>고객센터</span></a>
                    <ul>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>-->
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- // 내비게이션 바 -->
    <div id="subContainer">
        <!--  중간배경   -->
        <div class="subSkin bg"></div>
        <!--중앙 내비게이션 바-->
        <nav id="lnb">
            <div class="area_subVisual">
                <div class="inner">
                    <div class="lnb pc">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="/board/boardList" title="게시판">게시판</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lnb mobile">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <div class="large">게시판</div>

                        <div class="small">
                            <span data-mobile-tit="">게시판</span>
                            <ul>
                                <li>
                                    <a href="/board/boardList" title="게시판">게시판</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content">
            <h1 class="title">게시판</h1>
            <div id="cms_board_article">
                <div class="viewTypeB">
                    <div class="info-header">
                        <span class="item item-seq">번호</span>
                        <span class="item item-header">제목</span>
                        <span class="item item-user">작성자</span>
                        <span class="item item-date">작성일</span>
                        <span class="item item-read">조회수</span>
                    </div>
                    <div class="info-body">
                        <div class="tbody" th:each="dto : ${rList}">
                            <span class="item item-seq" th:text="${dto.boardSeq}"></span>
                            <span class="item item-title"
                                  th:attr="onclick='doDetail(\'' + ${dto.boardSeq} + '\')'"
                                  th:text="${dto.title}"></span>
                            <span class="item item-user" th:text="${dto.userId}"></span>
                            <span class="item item-date" th:text="${dto.regDt}"></span>
                            <span class="item item-read" th:text="${dto.readCnt}"></span>
                        </div>
                    </div>
                </div>
                <div class="topGlob">
                    <span class="btnBc" style="float: right; margin: 10px"><a href="/board/boardReg" title="글쓰기"
                                                                              class="fn_btn_list">글쓰기</a></span>
                </div>
                <!-- 페이징 네비게이션 -->
                <div style="padding-top: 2.5rem; padding-bottom: 2.5rem; justify-content: center; display: flex;">
                    <div class="pagination">
                        <ul>
                            <!-- First page link -->
                            <li th:if="${currentPage > 1}">
                                <a th:href="@{/board/boardList(page=1, size=${size})}">처음</a>
                            </li>

                            <!-- Previous page link -->
                            <li th:if="${currentPage > 1}">
                                <a th:href="@{/board/boardList(page=${currentPage - 1}, size=${size})}">이전</a>
                            </li>

                            <!-- Page number links -->
                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                                <a th:href="@{/board/boardList(page=${i}, size=${size})}"
                                   th:classappend="${i} == ${currentPage} ? 'active' : ''"
                                   th:text="${i}"></a>
                            </li>

                            <!-- Next page link -->
                            <li th:if="${currentPage < totalPages}">
                                <a th:href="@{/board/boardList(page=${currentPage + 1}, size=${size})}">다음</a>
                            </li>

                            <!-- Last page link -->
                            <li th:if="${currentPage < totalPages}">
                                <a th:href="@{/board/boardList(page=${totalPages}, size=${size})}">마지막</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="copyright">
                    <p>펫밀리<span><a href="">&#9798;</a></span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="designer">
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
</body>
</html>