<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">
    <link rel="stylesheet" href="/css/paging.css">

    <script type="text/javascript">

        //상세보기 이동
        function doDetail(seq) {
            location.href = "/notice/noticeInfo?nSeq=" + seq;
        }

    </script>
</head>
<body>
<div id="wrapper">
    <!-- 내비게이션 바 -->
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main/main">펫밀리</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">

                     <li>
                        <a href="/center/center"><span>정보센터</span></a>
                        <ul>
                            <li><a href="/center/center">보호소 찾기</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/notice/noticeList"><span>게시판</span></a>
                        <ul>
                            <li><a href="/notice/noticeList">게시판</a></li>

                        </ul>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <a href="#"><span>고객센터</span></a>
                        <ul>

                            <li><a href="">고객센터</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_ID == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_ID != null}">
                <p th:text="'안녕하세요, ' + ${session.SS_USER_ID} + '님!'"></p>
                <a href="/user/logout">로그아웃</a>
            </div>

            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop">
                    <div class="mlogo"><a href="/main/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <ul>

                    <li class="has-sub">
                        <a href="/notice/noticeList">게시판</a>
                        <ul>
                            <li><a href="/notice/noticeList">게시판</a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/center/center">보호소 찾기</a>
                        <ul>
                            <li><a href="/center/center">보호소 찾기</a>
                            </li>

                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">온라인 상담</a>
                        <ul>
                            <li><a href="#">이용방법 </a>
                            </li>
                            <li><a href="/online/calendar">채팅</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                <!--<li>
                    <a href="#"><span>고객센터</span></a>
                    <ul>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>-->
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- // 내비게이션 바 -->
    <div id="subContainer">
        <div class="subSkin bg"></div>

        <nav id="lnb">
            <div class="area_subVisual">
                <div class="inner">
                    <div class="lnb pc">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="/notice/noticeList" title="게시판">게시판</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lnb mobile">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <div class="large">게시판</div>

                        <div class="small">
                            <span data-mobile-tit="">게시판</span>
                            <ul>
                                <li>
                                    <a href="/notice/noticeList" title="게시판">게시판</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div id="content">
            <h1 class="title">게시판</h1>
            <div id="cms_board_article">
                <table class="listTypeA">
                    <caption>게시판</caption>
                    <colgroup>
                        <col width="30px" class="mbNone">
                        <col width="120px">
                        <col width="60px">
                        <col width="60px" class="mbNone">
                        <col width="30px" class="mbNone">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" class="mbNone" style="background-color: #c4e3f3">번호</th>
                        <th scope="col" style="background-color: #c4e3f3">제목</th>
                        <th scope="col" style="background-color: #c4e3f3">작성자</th>
                        <th scope="col" class="mbNone" style="background-color: #c4e3f3">작성일</th>
                        <th scope="col" class="end mbNone" style="background-color: #c4e3f3">조회수</th>
                        <!-- 마지막 th에 class="end" -->
                    </tr>
                    </thead>
                    <tbody class="alignC">
                    <tr th:each="dto : ${rList}">
                        <td class="mbNone" th:text="${dto.noticeSeq}"></td>
                        <td class="subject" th:attr="onclick='doDetail(\'' + ${dto.noticeSeq} + '\')'"
                            th:text="${dto.title}"></td>
                        <td th:text="${dto.userId}"></td>
                        <td class="mbNone" th:text="${dto.regDt}"></td>
                        <td class="mbNone" th:text="${dto.readCnt}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="topGlob">
                    <span class="btnBc" style="float: right"><a href="/notice/noticeReg" title="글쓰기"
                                                                class="fn_btn_list">글쓰기</a></span>
                </div>
                <!-- 페이징 네비게이션 -->
                <div class="pagination">
                    <ul>
                        <li th:if="${currentPage > 0}">
                            <a th:href="@{noticeList(page=${currentPage - 1}, size=${size})}">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                            <a th:href="@{noticeList(page=${i}, size=${size})}"
                               th:classappend="${i} == ${currentPage} ? 'active' : ''"
                               th:text="${i + 1}"></a>
                        </li>
                        <li th:if="${currentPage < totalPages - 1}">
                            <a th:href="@{noticeList(page=${currentPage + 1}, size=${size})}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="copyright">
                    <p>펫밀리<span><a href="">&#9798;</a></span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="designer">
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
</body>
</html>