<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>회원가입</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">

    <script src="https://www.google.com/recaptcha/api.js?render=6LcEwmAqAAAAAAhc5_yZspn222vXe5i8NTXnsUz9"></script>


    <script type="text/javascript">
        // 아이디 중복체크여부 (중복 Y / 중복아님 : N)
        let userIdCheck = "Y";
        let nickNameCheck = "Y";

        // 이메일 중복체크 인증번호 발송 값
        let emailAuthNumber = "";

        // HTML로딩이 완료되고, 실행됨
        document.addEventListener("DOMContentLoaded", function () {
            let userId = '[[${userId}]]'; // 서버에서 전달된 사용자 ID
            let myPage = document.querySelectorAll(".myPage");

            myPage.forEach(function(link) {
                link.href = "/user/myPage/" + userId;
            });
        });

        $(document).ready(function () {

            let f = document.getElementById("f"); // form 태그

            // 아이디 중복체크
            $("#btnUserId").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                userIdExists(f)
            })

            // 닉네임 중복체크
            $("#btnNickname").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                nickNameExists(f)
            })

            // 이메일 중복체크
            $("#btnEmail").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                emailExists(f)
            })

            $("#btnAuth").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                authConfirm(f)
            })

            $("#btnSend").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                doSubmit(f);
            })
        })

        // 회원아이디 중복 체크
        function userIdExists(f) {

            if (f.userId.value === "") {
                alert("아이디를 입력하세요.");
                f.userId.focus();
                return;
            }

            // Ajax 호출해서 회원가입하기
            $.ajax({
                url: "/user/getUserIdExists",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // 호출이 성공했다면..

                    if (json.existsYn === "Y") {
                        alert("이미 가입된 아이디가 존재합니다.");
                        f.userId.focus();

                    } else {
                        alert("가입 가능한 아이디입니다.");
                        userIdCheck = "N";
                    }

                }
            })
        }

        // 회원닉네임 중복 체크
        function nickNameExists(f) {

            if (f.nickName.value === "") {
                alert("닉네임을 입력하세요.");
                f.nickName.focus();
                return;
            }

            // Ajax 호출해서 회원가입하기
            $.ajax({
                url: "/user/getNickNameExists",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // 호출이 성공했다면..

                    if (json.existsYn === "Y") {
                        alert("이미 가입된 닉네임이 존재합니다.");
                        f.userId.focus();

                    } else {
                        alert("설정 가능한 닉네임입니다.");
                        nickNameCheck = "N";
                    }

                }
            })
        }

        // 이메일 중복 체크
        function emailExists(f) {
            if (f.email.value === "") {
                alert("이메일을 입력하세요.");
                f.email.focus();
                return;
            }

            $.ajax({
                url: "/user/getEmailExists",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 JSON으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // 호출이 성공했다면..

                    if (json.existsYn === "Y") {
                        alert("이미 가입된 이메일 주소가 존재합니다.");
                        f.email.focus();

                    } else {
                        alert("이메일로 인증번호가 발송되었습니다. \n받은 메일의 인증번호를 입력하기 바랍니다.");
                        emailAuthNumber = json.authNumber;

                    }

                }
            })
        }

        function authConfirm(f) {

            if (f.authNumber.value === "") {
                alert("이메일 인증번호를 입력하세요.");
                f.authNumber.focus();
                return;
            }

            if (f.authNumber.value !== emailAuthNumber.toString()) {
                alert("이메일 인증번호가 일치하지 않습니다.");
                f.authNumber.focus();
            } else {
                alert("이메일 인증번호가 일치합니다.")
                f.authNumber.focus();
            }
        }

        //회원가입 정보의 유효성 체크하기
        function doSubmit(f) {


            if (f.userId.value === "") {
                alert("아이디를 입력하세요.");
                f.userId.focus();
                return;
            }

            if (userIdCheck !== "N") {
                alert("아이디 중복 체크 및 중복되지 않은 아이디로 가입 바랍니다.");
                f.userId.focus();
                return;
            }

            if (f.userName.value === "") {
                alert("이름을 입력하세요.");
                f.userName.focus();
                return;
            }

            if (f.nickName.value === "") {
                alert("닉네임을 입력하세요.");
                f.nickName.focus();
                return;
            }

            if (nickNameCheck !== "N") {
                alert("닉네임 중복 체크 및 중복되지 않은 닉네임으로 가입 바랍니다.");
                f.nickName.focus();
                return;
            }

            if (f.password.value === "") {
                alert("비밀번호를 입력하세요.");
                f.password.focus();
                return;
            }

            if (f.password2.value === "") {
                alert("비밀번호확인을 입력하세요.");
                f.password2.focus();
                return;
            }

            if (f.password.value !== f.password2.value) {
                alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                f.password.focus();
                return;
            }

            if (f.email.value === "") {
                alert("이메일을 입력하세요.");
                f.email.focus();
                return;
            }

            if (f.authNumber.value === "") {
                alert("이메일 인증번호를 입력하세요.");
                f.authNumber.focus();
                return;
            }

            if (f.authNumber.value !== emailAuthNumber.toString()) {
                alert("이메일 인증번호가 일치하지 않습니다.");
                f.authNumber.focus();
                return;
            }

            // reCAPTCHA 토큰을 먼저 가져오기
            grecaptcha.ready(function() {
                grecaptcha.execute('6LcEwmAqAAAAAAhc5_yZspn222vXe5i8NTXnsUz9', {action: 'submit'}).then(function(token) {
                    // reCAPTCHA 검증 요청
                    verifyRecaptcha(token, f);
                });
            });

            // // Ajax 호출해서 회원가입하기
            // $.ajax({
            //     url: "/user/insertUserInfo",
            //     type: "post", // 전송방식은 Post
            //     dataType: "JSON", // 전송 결과는 JSON으로 받기
            //     data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
            //     success: function (json) { // /user/insertUserInfo 호출이 성공했다면..
            //
            //         if (json.result === 1) { // 회원가입 성공
            //             alert(json.msg); // 메시지 띄우기
            //             location.href = "/user/login"; // 로그인 페이지 이동
            //
            //         } else { // 회원가입 실패
            //             alert(json.msg); // 메시지 띄우기
            //             location.href = "/user/userRegForm"
            //         }
            //     }
            // })
        }

        // reCAPTCHA 검증 함수
        function verifyRecaptcha(token, form) {
            $.ajax({
                url: "/api/v1/recaptcha/verify-recaptcha",  // reCAPTCHA 검증 API 호출
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify({
                    token: token // JSON 형태로 보내기
                }),
                success: function(response) {
                    // 성공적으로 검증된 경우
                    submitUserInfo(form); // 사용자 정보를 제출하는 메서드
                },
                error: function(xhr, status, error) {
                    console.error('reCAPTCHA 검증 실패:', error);
                }
            });
        }

        function submitUserInfo(form) {
            $.ajax({
                url: "/user/insertUserInfo",  // 회원가입 API 호출
                type: "post",
                dataType: "JSON",
                data: $(form).serialize(),  // 폼 데이터를 직렬화하여 전송
                success: function(json) {
                    if (json.result === 1) {
                        alert(json.msg);
                        location.href = "/user/login";
                    } else {
                        alert(json.msg);
                        location.href = "/user/userRegForm";
                    }
                },
                error: function() {
                    alert("회원가입 중 오류가 발생했습니다.");
                }
            });
        }

    </script>


</head>

<body>
<div id="wrapper">
    <!-- 내비게이션 바 -->
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main">펫밀리</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">
                    <li>
                        <a href="/animal/protectAnimal"><span>구조동물</span></a>
                        <ul>
                            <li><a href="/animal/protectAnimal">입양대기 동물</a></li>
                            <li><a href="/animal/noticeAnimal">반환대기 동물</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/shelter/shelterList"><span>동물보호센터</span></a>
                        <ul>
                            <li><a href="/shelter/shelterList">동물보호센터</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/board/boardList"><span>게시판</span></a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/chat/intro"><span>고객센터</span></a>
                        <ul>
                            <li><a href="/chat/intro">문의하기</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_ID == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_ID != null}">
                <p th:text="'안녕하세요, ' + ${session.SS_USER_NAME} + '님!'"></p>
                <a href="#" class="myPage">마이페이지</a>
                &nbsp;&nbsp;
                <a href="/user/logout">로그아웃</a>
            </div>
            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop" th:if="${session.SS_USER_ID == null}">
                    <div class="mlogo"><a href="/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <div class="mbTop" th:if="${session.SS_USER_ID != null}">
                    <div class="mlogo"><a href="/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="#" class="myPage">마이 페이지</a></li>
                        <li><a href="/user/logout">로그아웃</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="has-sub">
                        <a href="/animal/protectAnimal">구조동물</a>
                        <ul>
                            <li><a href="/animal/protectAnimal">입양대기 동물</a></li>
                            <li><a href="/animal/noticeAnimal">반환대기 동물</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/board/boardList">게시판</a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/chat/intro">고객센터</a>
                        <ul>
                            <li><a href="/chat/intro">문의하기</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- // 내비게이션 바 -->

    <div id="subContainer">
        <div class="subSkin bg"></div>
        <nav id="lnb">
            <div class="area_subVisual">
                <div class="inner">
                    <div class="lnb pc">
                        <div class="home">
                            <a href="/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="/user/login" title="로그인">로그인</a>
                            </li>
                            <li>
                                <a href="/user/searchUserId" title="아이디찾기">아이디찾기</a>
                            </li>
                            <li>
                                <a href="/user/searchPassword" title="비밀번호찾기">비밀번호찾기</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lnb mobile">
                        <div class="home">
                            <a href="/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <div class="large">회원</div>
                        <div class="small">
                            <span data-mobile-tit="">로그인</span>
                            <ul>
                                <li>
                                    <a href="/user/login" title="로그인">로그인</a>
                                </li>
                                <li>
                                    <a href="/user/searchUserId" title="아이디찾기">아이디찾기</a>
                                </li>
                                <li>
                                    <a href="/user/searchPassword" title="비밀번호찾기">비밀번호찾기</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <h1 class="title">회원가입</h1>
    <div class="sContent">
        <div id="cms_member_article">
            <form id="f" action="/user/insertUserInfo" name="memberInputForm" method="post"
                  onsubmit="doSubmit(this)">
                <div class="registration-form margin-top-10">
                    <div class="form-group">
                        <label for="mbrId" class="label-text label-required">아이디</label>
                        <div class="input-wrapper">
                            <input type="text" name="userId" id="mbrId" class="input-field"
                                   style="ime-mode:disabled; width: 50%" required>
                            <button id="btnUserId" type="button" class="action-button button-small">아이디 중복확인</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mbrName" class="label-text">이름</label>
                        <div class="input-wrapper">
                            <input type="text" name="userName" id="mbrName" class="input-field" maxlength="15"
                                   style="ime-mode:disabled; width:50%" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mbrNick" class="label-text">닉네임</label>
                        <div class="input-wrapper">
                            <input type="text" name="nickName" id="mbrNick" class="input-field" maxlength="20"
                                   style="ime-mode:disabled; width:50%" required>
                            <button id="btnNickname" type="button" class="action-button button-small">닉네임 중복확인</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mbrPwd" class="label-text label-required">비밀번호</label>
                        <div class="input-wrapper">
                            <input type="password" name="password" id="mbrPwd" autocomplete="off" class="input-field"
                                   maxlength="15" style="ime-mode:disabled; width:50%" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mbrPwd_reconfirm" class="label-text label-required">비밀번호 확인</label>
                        <div class="input-wrapper">
                            <input type="password" name="password2" id="mbrPwd_reconfirm" autocomplete="off"
                                   class="input-field" maxlength="15" style="ime-mode:disabled; width:50%" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mbrEmail" class="label-text label-required">이메일</label>
                        <div class="input-wrapper">
                            <input type="text" id="mbrEmail" name="email" title="이메일" class="input-text"
                                   style="ime-mode:disabled; width:50%" required>
                            <button id="btnEmail" type="button" class="action-button button-small">인증번호 발송</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ahCode" class="label-text label-required">인증번호</label>
                        <div class="input-wrapper">
                            <input type="text" id="ahCode" name="authNumber" title="인증번호" class="input-text"
                                   style="ime-mode:disabled; width:50%" required maxlength="6">
                            <button id="btnAuth" type="button" class="action-button button-small">인증번호 확인</button>
                        </div>
                    </div>
                    <!-- reCAPTCHA 토큰을 저장할 hidden input 필드 추가 -->
                    <input type="hidden" id="recaptchaToken" name="recaptchaToken">
                </div>
                <!-- btnset -->
                <div class="btnWrap">
                    <button id="btnSend" type="button" class="btnAA" style="background-color: #ffcb00">회원가입</button>
                    <button type="button" title="이전" class="btnAA" style="background-color: #6c757d" onclick="window.location.href='/main'">이전</button>
                </div>
                <!-- //btnset -->
            </form>
        </div>
    </div>
</div>
<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="copyright">
                    <p>펫밀리<span><a href="">&#9798;</a></span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="designer">
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
</body>
</html>
