<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>펫 밀리</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>

    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">
    <link rel="stylesheet" href="/css/paging.css">
    <link rel="stylesheet" href="/css/animal.css">
    <link rel="stylesheet" href="/css/slick.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    <!-- jQuery CDN -->
<!--    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- slick Carousel CDN -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            let userId = '[[${userId}]]'; // 서버에서 전달된 사용자 ID
            let myPage = document.querySelectorAll(".myPage");

            myPage.forEach(function (link) {
                link.href = "/user/myPage/" + userId;
            });
        });

        $('.post-wrapper').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            nextArrow: $('.next'),
            prevArrow: $('.prev'),
        });

    </script>
    <style>
        .class {
            margin: auto;
            width: 800px;
            height: 500px;
            text-align: center;
        }

        .class2 {
            width: 100%;
            height: 100%;
        }


        /* 화살표 색상 변경*/
        .slick-prev:before, .slick-next:before {
            color: black !important;
            opacity: 1;
        }

        /* 화살표 위치 변경 */
        .slick-prev {
            left: 20px !important;
            z-index: 9;
        }

        .slick-next {
            right: 20px !important;
            z-index: 9;
        }
    </style>
</head>

<body>
<div id="wrapper" class="main">
    <!-- 내비게이션 바 -->
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main">펫밀리</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">
                    <li>
                        <a href="/animal/protectAnimal"><span>구조동물</span></a>
                        <ul>
                            <li><a href="/animal/protectAnimal">입양대기 동물</a></li>
                            <li><a href="/animal/noticeAnimal">반환대기 동물</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/shelter/shelterList"><span>동물보호센터</span></a>
                        <ul>
                            <li><a href="/shelter/shelterList">동물보호센터</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/board/boardList"><span>게시판</span></a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/chat/intro"><span>고객센터</span></a>
                        <ul>
                            <li><a href="/chat/intro">문의하기</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_ID == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_ID != null}">
                <p th:text="'안녕하세요, ' + ${session.SS_USER_ID} + '님!'"></p>
                <a href="#" class="myPage">마이페이지</a>
                &nbsp;&nbsp;
                <a href="/user/logout">로그아웃</a>
            </div>
            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop" th:if="${session.SS_USER_ID == null}">
                    <div class="mlogo"><a href="/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <div class="mbTop" th:if="${session.SS_USER_ID != null}">
                    <div class="mlogo"><a href="/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="#" class="myPage">마이 페이지</a></li>
                        <li><a href="/user/logout">로그아웃</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="has-sub">
                        <a href="/animal/protectAnimal">구조동물</a>
                        <ul>
                            <li><a href="/animal/protectAnimal">입양대기 동물</a></li>
                            <li><a href="/animal/noticeAnimal">반환대기 동물</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/board/boardList">게시판</a>
                        <ul>
                            <li><a href="/board/boardList">게시판</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/chat/intro">고객센터</a>
                        <ul>
                            <li><a href="/chat/intro">문의하기</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- // 내비게이션 바 -->
    <br><br><br><br><br><br><br><br><br><br>
    <!--Start of slider section-->
    <div class="class">
        <div class="class2">
            <img src="/img/banner_sample1.png">
        </div>
        <div class="class2">
            <img src="/img/banner_sample2.png">
        </div>
        <div class="class2">
            <img src="/img/banner_sample3.png">
        </div>
        <div class="class2">
            <img src="/img/banner_sample4.png">
        </div>
    </div>
    <!--post slider-->
</div>
</div>
<!--Scroll to top-->
<a href="#" id="back-to-top" title="Back to top">&uarr;</a>
<script>
    $(document).ready(function () {
        $('.class').slick({
            slidesToShow: 1, //한번에 보여줄 슬라이드 갯수
            slidesToScroll: 1, //한번에 넘겨지는 슬라이드 갯수
            arrows: true, //넘기기 버튼 화살표 여부
            dots: true, //네비게이션 버튼 dot유형
            asNavFor: '.terms-nav', //함께 움직이는 슬라이드 메뉴영역
            infinite: false, //무한반복 옵션
            adaptiveHeight: true, // 슬라이더 높이를 현재 슬라이드에 맞춤
            draggable: true //드래그 가능여부
        });
    });
</script>
</body>
</html>
